html, body {
    height: 100%;
}
  
body {
    font-size: 2rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue";
}

ul {
    margin: 0;
}
  
li {
    color: red;
}



h3 {
    color: hotpink;
    margin: 0;
    padding: 0;
}
   